$color-green: hsl(120, 100%, 20%);
$color-green-border: hsl(120, 100%, 15%);
$color-green-dark: hsl(120, 100%, 5%);

#page-wrapper {
	height: 100vh;
	#header {
		background-color: $color-green;
		#fcc-logo {
			margin-left: 50px;
			padding-top: 6px;
			display: inline-block;
			width: 269px;
			height: 40px;
		}
	}
	#table-wrapper {
		margin: 0 auto;
		position: relative;
		top: 50px;
		width: 60%;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		overflow-x: hidden;
		background-color: gray;
		height: 82%;
		#row-title {
			background-color: $color-green;
			text-align: center;
			color: aliceblue;
			font: normal 30px 'Open Sans';
		}
	}
}