$color-green: hsl(120, 100%, 20%);
$color-green-light: hsl(120, 100%, 30%);
$color-green-clear: hsla(120, 100%, 20%, 0.2);
$color-green-border: hsl(120, 100%, 15%);
$color-green-dark: hsl(120, 100%, 5%);
$color-gray: hsl(0, 0%, 80%);

#page-wrapper {
	height: 100vh;
	#header {
		background-color: $color-green;
		display: flex;
		justify-content: center;
		min-width: 376px;
		width: 100%;
		flex-wrap: wrap;
		#logo-link {
			flex: 1;
			margin-left: 50px;
		}
		#fcc-logo {
			padding-top: 6px;
			display: inline-block;
			width: 269px;
			height: 40px;
		}
	}
	#row-title {
		background-color: $color-green;
		text-align: center;
		color: aliceblue;
		font: normal 30px 'Open Sans';
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		position: relative;
		top: 50px;
		min-width: 376px;
		width: 60%;
		margin: 0 auto;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		#leaderboard-title {
			flex: 1;
			text-align: center;
		}
		#sorting {
			float: right;
			font-size: 15px;
			padding: 10px;
		}
		#recent {
			position: relative;
    		right: 12px;
		}
		.selected {
			text-decoration: underline;
			cursor: pointer;
		}
		.unselected {
			cursor: pointer;
		}
	}
	#table-wrapper {
		margin: 0 auto;
		position: relative;
		top: 50px;
		width: 60%;
		margin-bottom: 60px;
		overflow-x: hidden;
		border-left: 1px solid $color-green;
		border-right: 1px solid $color-green;
		border-bottom: 1px solid $color-green;
		padding: 10px 20px 15px 20px;
		font: normal 20px 'Lato';
		.sorting-col {
			cursor: pointer;
		}
		thead td {
			font-weight: bold;
			padding: 5px;
		}
		i {
			position: relative;
			bottom: 3px;
			left: 2px;
		}
		tbody {
			overflow: auto;
			.stripe-custom {
				background-color: $color-green-light;
			}
			.camper-img {
				width: 50px;
			}
			.username {
				position: relative;
				bottom: 16px;
				left: 4px;
				color: $color-green;
				cursor: pointer;
				text-decoration: none;
				transition: 0.2s;
				&:hover {
					color: $color-green-light;
					text-decoration: underline;
				}
			}
			td {
				padding: 5px;
			}
		}
	}
}

#foot {
    font-family: 'Lato';
    font-size: 18px;
    color: hsl(208, 100%, 97%);
    padding: 12px;
}

#foot i, #foot a {
	color: springgreen;
	transition: 0.3s;
	text-decoration: none;
}

#foot a:hover, #gh-link:hover i {
	color: aliceblue;
	text-decoration: none;
}

#foot i {
	position: relative;
    right: 5px;
    bottom: 1px;
}